# See http://help.github.com/ignore-files/ for more about ignoring files.


/todo-api/node_modules
/todo-frontend/node_modules
/todo-api/package-lock.json
/todo-frontend/package-lock.json
/todo-api/npm-debug.log
/todo-frontend/npm-debug.log